@layer setup {
  html {
    color-scheme: light dark;

    body * {
      font-family:
        futura-pt, Seravek, 'Gill Sans Nova', Ubuntu, Calibri, 'DejaVu Sans', source-sans-pro,
        sans-serif;
      box-sizing: border-box;
    }

    main {
      outline: 1px dashed transparent;
    }

    main.alignCenter {
      margin-inline: auto;
    }

    main[data-canvas='mobile'] {
      max-width: 412px;
    }

    main[data-canvas='mobile'] .desc-mobile {
      display: block;
    }

    main[data-canvas='tablet-small'] {
      max-width: 768px;
    }

    main[data-canvas='tablet-small'] .desc-tablet-small {
      display: block;
    }

    main[data-canvas='tablet-large'] {
      max-width: 1024px;
    }

    main[data-canvas='tablet-large'] .desc-tablet-large {
      display: block;
    }

    main[data-canvas='laptop'] {
      max-width: 1280px;
    }

    main[data-canvas='laptop'] .desc-laptop {
      display: block;
    }

    main[data-canvas='desktop'] {
      max-width: 100%;
    }

    main[data-canvas='desktop'] .desc-desktop {
      display: block;
    }
  }
}
